[Unit]
Description=Soft OSD is a beautiful OSD and Notification
Documentation=https://github.com/SergioRibera/soft_osd
After=graphical.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=sosd daemon
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
