[Unit]
Description=Soft OSD is a beautiful OSD and Notification
Documentation=https://github.com/SergioRibera/soft_osd
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/usr/bin/sosd daemon
# ExecReload=/usr/bin/sosd reload
Restart=on-failure

[Install]
WantedBy=graphical-session.target
